<!DOCTYPE html>
<html>
  <head>
    <title>Event</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <form method="post" action="/">
      <p>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" />
      </p>
      <p>
        <label for="description">Description</label>
        <input type="text" id="description" name="description" />
      </p>
      <p>
        <label for="start_at">Start</label>
        <input type="text" id="start_at" name="start_at" />
      </p>
      <p>
        <label for="end_at">End</label>
        <input type="text" id="end_at" name="end_at" />
      </p>
      <input type="hidden" name="id" value="<%= @event.calendar_event_id %>">
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>    
